<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title">添加节目</h2>
            </header>
            <hr>
        </section>
        <div class="form-group-col-2">
            <div class="form-label">标题：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="program_title" id="program_title" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">频道：</div>
            <div class="form-cont">
                <select name="program_level" id="program_level" style="width:auto;">
                    <volist name="channel_rows" id="channel_row">
                        <option value="{$channel_row.channel_id}" >{$channel_row.channel_title}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">视频：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="program_video" id="program_video" />
                <span class="word-aux"><i class="icon-warning-sign"></i></span>
            </div>
        </div>
        <script type="text/javascript" src="__PUBLIC__/Admin/jedate/jquery-1.7.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/Admin/jedate/jquery.jedate.js"></script>
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Admin/jedate/skin/jedate.css">
        <div class="form-group-col-2">
            <div class="form-label">播放时间：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30 wicon" name="program_time" id="program_time" />
                <script>
                    $("#program_time").jeDate({
                        isinitVal:true,
                        festival: true,
                        format: 'YYYY-MM-DD hh:mm:ss'
                    });
                </script>
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">排序：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="program_sort" id="program_sort" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_ORDER}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">是否显示：</div>
            <label class="radio">
                <input type="radio" name="program_show" value="1" checked />
                <span>显示</span>
            </label>
            <label class="radio">
                <input type="radio" name="program_show" value="0" />
                <span>隐藏</span>
            </label>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="{:CUSTOM_SYSTOM_PUTIN}" onclick="add_program()" />
                <button onclick="javascript:window.history.back(-1);" class="btn btn-primary-outline">{:CUSTOM_SYSTOM_BACK}</button>
            </div>
        </div>
    </div>
</block>
