<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title">编辑节目</h2>
            </header>
            <hr>
        </section>
        <span hidden id="program_id">{$program_row.program_id}</span>
        <div class="form-group-col-2">
            <div class="form-label">内容：</div>
            <div class="form-cont">
                <input type="text" value="{$program_row.program_content}" class="form-control form-boxed width-30" name="program_content" id="program_content" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">频道：</div>
            <div class="form-cont">
                <select name="program_level" id="program_level" style="width:auto;">
                    <volist name="channel_rows" id="channel_row">
                        <if condition="$channel_row.channel_id eq $program_level">
                            <option value="{$channel_row.channel_id}" selected>{$channel_row.channel_title}</option>
                        <else />
                            <option value="{$channel_row.channel_id}" >{$channel_row.channel_title}</option>
                        </if>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">排序：</div>
            <div class="form-cont">
                <input type="text" value="{$program_row.program_sort}" class="form-control form-boxed width-30" name="program_sort" id="program_sort" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_ORDER}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="{:CUSTOM_SYSTOM_PUTIN}" onclick="edit_program()" />
                <button onclick="javascript:window.history.back(-1);" class="btn btn-primary-outline">{:CUSTOM_SYSTOM_BACK}</button>
            </div>
        </div>
    </div>
</block>
