<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title">添加频道</h2>
            </header>
            <hr>
        </section>
        <div class="form-group-col-2">
            <div class="form-label">标题：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="channel_title" id="channel_title" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">PC端直播源链接：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed" name="channel_link" id="channel_link" />
                <span class="word-aux"><i class="icon-warning-sign"></i></span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">手机端直播链接：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed" name="channel_link_m" id="channel_link_m" />
                <span class="word-aux"><i class="icon-warning-sign"></i></span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">排序：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="channel_sort" id="channel_sort" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_ORDER}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">是否显示：</div>
            <label class="radio">
                <input type="radio" name="channel_show" value="1" checked />
                <span>显示</span>
            </label>
            <label class="radio">
                <input type="radio" name="channel_show" value="0" />
                <span>隐藏</span>
            </label>
        </div>

        <section class="page-hd">
            <header>
                <h2 class="title">添加节目单采集规则</h2>
            </header>
            <hr>
        </section>
        <div class="form-group-col-2">
            <div class="form-label">采集的页面：</div>
            <div class="form-cont">
                <input type="text" value="{$channel_row.channel_web}" class="form-control form-boxed" name="channel_web" id="channel_web" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">采集的规则：</div>
            <div class="form-cont">
                <input type="text" value="{$channel_row.channel_rule}" class="form-control form-boxed" name="channel_rule" id="channel_rule" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}；{:CUSTOM_SYSTOM_RULE}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">过滤的字段：</div>
            <div class="form-cont">
                <input type="text" value="{$channel_row.channel_filter}" class="form-control form-boxed" name="channel_filter" id="channel_filter" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_FILTRE}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="{:CUSTOM_SYSTOM_PUTIN}" onclick="add_channel()" />
                <button onclick="javascript:window.history.back(-1);" class="btn btn-primary-outline">{:CUSTOM_SYSTOM_BACK}</button>
            </div>
        </div>
    </div>
</block>
