<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title">编辑基本信息</h2>
            </header>
            <hr>
        </section>
        <div class="form-group-col-2">
            <div class="form-label">网站标题：</div>
            <div class="form-cont">
                <input type="text" value="{$base_row.base_title}" class="form-control form-boxed width-30" name="base_title" id="base_title" />
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">版权：</div>
            <div class="form-cont">
                <input type="text" value="{$base_row.base_copyright}" class="form-control form-boxed width-30" name="base_copyright" id="base_copyright" />
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">备案号：</div>
            <div class="form-cont">
                <input type="text" value="{$base_row.base_record}" class="form-control form-boxed width-30" name="base_record" id="base_record" />
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="{:CUSTOM_SYSTOM_PUTIN}" onclick="edit_base()" />
            </div>
        </div>
    </div>
</block>
