<div class="side-nav">
    <div class="side-logo">
        <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
            <strong>{:CUSTOM_SYSTOM_MENU}</strong>
        </div>
    </div>

    <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
        <h2>
            <a href="{:U('Admin/Home/index')}" class="InitialPage"><i class="icon-home"></i>{:CUSTOM_SYSTOM_HOME}</a>
        </h2>
        <ul>
            <li>
                <dl>
                    <dt>
                        <i class="icon-user"></i>用户信息管理<i class="icon-angle-right"></i>
                    </dt>
                    <eq name="Think.session.user.user_id" value="1">
                        <dd>
                            <a href="{:U('Admin/User/index')}">用户管理</a>
                        </dd>
                    </eq>
                    <dd>
                        <a href="{:U('Admin/User/edit')}">修改密码</a>
                    </dd>
                </dl>
            <li>
            <li>
                <dl>
                    <dt>
                        <i class="icon-cog"></i>基本信息管理<i class="icon-angle-right"></i>
                    </dt>
                    <dd>
                        <a href="{:U('Admin/Base/edit')}">修改基本信息</a>
                    </dd>
                </dl>
            <li>
            <li>
                <dl>
                    <dt>
                        <i class="icon-play"></i>频道管理<i class="icon-angle-right"></i>
                    </dt>
                    <dd>
                        <a href="{:U('Admin/Channel/index')}">频道管理</a>
                    </dd>
                </dl>
            <li>
            <!--<li>-->
                <!--<dl>-->
                    <!--<dt>-->
                        <!--<i class="icon-play"></i>视频管理<i class="icon-angle-right"></i>-->
                    <!--</dt>-->
                    <!--<dd>-->
                        <!--<a href="{:U('Admin/Program/index')}">视频管理</a>-->
                    <!--</dd>-->
                <!--</dl>-->
            <!--<li>-->
        </ul>
    </nav>
</div>