<div class="mask"></div>
<div class="dialog">
	<div class="dialog-hd">
		<strong class="lt-title">{:CUSTOM_SYSTOM_BAR}</strong>
		<a class="rt-operate icon-remove JclosePanel" title="{:CUSTOM_SYSTOM_COLSE}"></a>
	</div>
	<div class="dialog-bd"><p></p></div>
	<div class="dialog-ft">
		<button class="btn btn-info JyesBtn">{:CUSTOM_SYSTOM_CONFIRM}</button>
		<button class="btn btn-secondary JnoBtn">{:CUSTOM_SYSTOM_COLSE}</button>
	</div>
</div>
<dialog class="automatic">
	<span class="icon-volume-down"></span>
</dialog>