<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <blockquote class="blockquote mb-10">
            {:CUSTOM_MESSAGE_EDITUSER}
        </blockquote>
        <div class="form-group-col-2">
            <div class="form-label">用户名：</div>
            <div class="form-cont">
                <input type="text" class="form-control form-boxed width-30" name="user_name" id="user_name" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">密码：</div>
            <div class="form-cont">
                <input type="password" class="form-control form-boxed width-30" name="user_password" id="user_password" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label">确认密码：</div>
            <div class="form-cont">
                <input type="password" class="form-control form-boxed width-30" name="user_confirm_password" id="user_confirm_password" />
                <span class="word-aux"><i class="icon-warning-sign"></i>{:CUSTOM_SYSTOM_REQUIRED}</span>
            </div>
        </div>
        <div class="form-group-col-2">
            <div class="form-label"></div>
            <div class="form-cont">
                <input type="submit" class="btn btn-primary" value="{:CUSTOM_SYSTOM_PUTIN}" onclick="add_user()" />
                <button onclick="javascript:window.history.back(-1);" class="btn btn-primary-outline">{:CUSTOM_SYSTOM_BACK}</button>
            </div>
        </div>
    </div>
</block>
