<extend name="Include:base" />
<block name="main">
    <div class="page-wrap">
        <section class="page-hd">
            <header>
                <h2 class="title"><i class="icon-table"></i>用户列表</h2>
            </header>
            <hr>
        </section>
        <div class="fl">
            <a href="{:U('Admin/User/add')}" class="mr-5">
                <button class="btn btn-warning">{:CUSTOM_SYSTOM_ADD}</button>
            </a>
            <button class="btn btn-danger" id="button_delete" onclick="deleteDo()">{:CUSTOM_SYSTOM_DELETEALL}</button>
        </div>
        <div class="fr input-group mb-15">
            <form action="{:U('Admin/User/index')}" method="get">
                <input name="searchname" type="text" type="searchname" placeholder="{$searchname}" class="form-control form-boxed" style="width:290px;">
                <button class="btn btn-primary">搜索</button>
            </form>
        </div>
        <p class="title-description"></p>
        <form action="{:U('Admin/User/delete')}" method="post" id="table_data">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th width="10%">
                        <input type="checkbox"  name="mmAll" onclick="All(this, 'mm[]')">
                    </th>
                    <th width="10%">序号</th>
                    <th>用户</th>
                    <th>密码</th>
                    <th width="10%">操作</th>
                </tr>
                </thead>
                <tbody>
                <volist name="user_rows" id="user_row">
                    <tr class="cen">
                        <td>
                            <eq name="user_row.user_id" value="1">
                                --
                            <else />
                                <input type="checkbox" name="mm[]" value="{$user_row.user_id}" onclick="Item(this, 'mmAll')">
                            </eq>
                        </td>
                        <td>{$i}</td>
                        <td>{$user_row.user_name}</td>
                        <td>***********************</td>
                        <td>
                            <a href="{:U('Admin/User/edit',array('user_id'=>$user_row[user_id]))}" title="{:CUSTOM_SYSTOM_EDIT}" class="mr-5">{:CUSTOM_SYSTOM_EDIT}</a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </form>
        <empty name="user_rows">
            <div class="panel panel-default">
                <div class="panel-bd text-center">
                    {:CUSTOM_MESSAGE_NODATA}
                </div>
            </div>
        </empty>
        <if condition="$user_count gt CUSTOM_PAGING">
            <div class="panel panel-default">
                <div class="panel-bd">
                    <div class='pagination'>
                    {$page_show}
                    </div>
                </div>
            </div>
        </if>
    </div>
</block>
<block name="popup"></block>
